<?xml version="1.0"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        executionOrder="defects"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">DealerInspireLaravelCodingStandard</directory>
        </whitelist>
    </filter>
</phpunit>
